.navbar{
  overflow: hidden;
  padding: 10px;
}
.nbi{
  list-style: none;
  float: left;
  padding: 10px;
  
}
.nbi a{
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-family: inherit;
  padding: 12px 16px;
  
}

/*DROPDOWN   */
.food{
  position: relative;
  display: inline;

}
.dropdwn{
  float: left;
  overflow: hidden;
}


.dropdwn .foodbtn{
  font-size: 20px;
  border: none;
  outline: none;
  color:black;
  padding: 9.5px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  border-radius: 2px;
}


.foodCont{
  display: none;
  position:absolute;
  background-color: #f9f9f9;
  min-width: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  list-style: none;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.foodCont a{
  float: none;
  clear:both;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  list-style:none;

}

.dropdwn:hover .foodCont{
  display: block;
  transition: 1s;
  clear: both;
  transition-timing-function: ease-in-out;
  
}

/*End*/






/* Page content */




/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  height: 50px;
  background: white;
  width: 100%;
  
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */


